:host {
  margin: 2px;
}

.household-subheader {
  color: #999;
  font-size: 12pt;
  margin-bottom: 0;
}

::ng-deep .mat-list-base .household-role-item .mat-list-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

mat-select {
  width: 80px;
}

form mat-form-field {
  width: 100%;
}

.add-user-item {
  padding-top: 16px;
}
