<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <div class="sidenav-image" *ngIf="(isHandset$ | async)">
      <img src="assets/household-300.jpg" width="300" height="200" alt="" role="presentation">
    </div>
    <div class="user-toolbar" *ngIf="user">
      <div class="heading">
        <div class="heading-top">{{user.name}}</div>
        <div class="heading-bottom">{{user.email}}</div>
      </div>
      <button class="user-switch" mat-icon-button [mat-menu-trigger-for]="userMenu">
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
    </div>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="openAccountPage()">Account settings</button>
      <button mat-menu-item (click)="logout()">Log out</button>
    </mat-menu>
    <div class="heading-household" *ngIf="(household$ | async) as household">{{household.name}}</div>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <a mat-list-item routerLinkActive="active" routerLink="/households" (click)="closeDrawer()">
        <mat-icon matListIcon>house</mat-icon>
        <div mat-line class="nav-label">Households</div>
      </a>
      <a mat-list-item routerLinkActive="active" routerLink="/inventory" (click)="closeDrawer()">
        <mat-icon matListIcon>list</mat-icon>
        <div mat-line class="nav-label">Inventory</div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Household Helper App</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
