.search {
  background-color: white;
  padding: 8px 16px;
  margin: 8px 0 16px 0;
}

.heading {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14pt;
  font-weight: 500;
  color: #999;
  margin: 8px 0;
}
