.missing-data {
  color: #aaa;
  font-style: italic;
}

.item-card {
  &:not(:first-of-type) {
    margin-top: 16px;
  }

  margin-bottom: 16px;
}

.add-button {
  margin-top: 16px;
}

.two-side {
  display: flex;
  flex-direction: row;

  height: calc(100% - 64px);

  overflow: hidden;

  div {
    flex: 1;
  }
}

.editor {
  background-color: white;
  height: 100%;
  overflow: auto;
}

.item-list {
  overflow: auto;
}

.counter-button {
  display: flex;
  flex-direction: row;
}

.pre-wrapped {
  white-space: pre-wrap;
}

.paginator {
  margin-top: 16px;
}
