.missing-data {
  color: #aaa;
  font-style: italic;
}

.item-card {
  &:not(:first-of-type) {
    margin-top: 16px;
  }

  margin-bottom: 16px;
}

.item {
  padding: 0;
  cursor: pointer;

  p.mat-line {
    color: #aaa;
  }

  .second-column {
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;

    div {
      margin: 0;
      padding: 0;
      width: 100%;

      color: #aaa;

      min-width: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:first-of-type {
        color: #111;
      }
    }
  }

  .additional-information {
    color: #999;
    margin-left: 8px;
    text-align: right;
  }

  .count-warning {
    color: #ffc107;
  }
}

::ng-deep .mat-list-base .mat-list-item.item-desktop .mat-list-text {
  width: 30%;
  flex-shrink: 0;
}

::ng-deep .mat-list-item.item .mat-list-item-content {
  margin: 0;
  padding: 0;
}

.add-button {
  margin-top: 16px;
}

.two-side {
  display: flex;
  flex-direction: row;

  height: calc(100% - 64px);

  overflow: hidden;

  & > div {
    flex: 1;
  }
}

.editor {
  background-color: white;
  height: 100%;
  overflow: auto;
  border-radius: 16px;
}

.item-list {
  overflow: auto;
}

.counter-button {
  display: flex;
  flex-direction: row;
}

.pre-wrapped {
  white-space: pre-wrap;
}

.paginator {
  margin-top: 16px;
}
