<div class="two-side">
  <div class="household-content-container item-list" [style.display]="shouldShowList ? 'block' : 'none'">
    <app-item-search (onValueChange)="search($event)"></app-item-search>
    <mat-card *ngIf="items$ | async as items">
      <mat-list>
        <mat-list-item class="item" [class.item-mobile]="(isHandset$ | async)"
                       [class.item-desktop]="!(isHandset$ | async)" *ngFor="let item of items.data"
                       (click)="edit(item)">
          <img mat-list-avatar src="{{itemImageBase + item.id + '/image'}}" alt="No photo available"
               onerror="this.onerror = null; this.src = 'assets/unknown-item.svg';">
          <h3 matLine>{{item.name}}</h3>
          <p matLine *ngIf="(isHandset$ | async)">
            <span *ngIf="item.location">{{item.location}}</span>
            <span *ngIf="item.description"> &mdash; {{item.description | slice:0:50}}</span>
          </p>
          <div class="second-column" *ngIf="!(isHandset$ | async)">
            <div *ngIf="item.location">{{item.location}}</div>
            <div *ngIf="item.description">{{item.description}}</div>
          </div>

          <div class="additional-information">
            <div *ngIf="item.count !== undefined && item.target !== undefined && item.count < item.target"
                 class="count-warning">
              {{item.count}} of {{item.target}}
            </div>
            <div *ngIf="item.value !== undefined">
              {{item.value / 100 | currency:'EUR'}}
            </div>
          </div>
        </mat-list-item>
      </mat-list>
      <mat-paginator class="paginator" pageSize="10" [length]="items.total" (page)="onNewPage($event)"></mat-paginator>
    </mat-card>
    <button class="add-button" mat-raised-button color="primary" (click)="add()">Add item</button>
  </div>
  <div class="editor mat-elevation-z8" [@openClose]="itemEditOutlet.isActivated ? 'open' : 'closed'">
    <router-outlet #itemEditOutlet="outlet"></router-outlet>
  </div>
</div>

<ng-template #deleteVerification>
  <h2 matDialogTitle>Delete inventory item</h2>
  <mat-dialog-content>Are you sure</mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button color="warn" [mat-dialog-close]="true">Delete item</button>
    <button mat-button [mat-dialog-close]="false">Keep item</button>
  </mat-dialog-actions>
</ng-template>
